$roboto: "robotoregular";
$roboto-bold: "robotobold";
$oswald: "oswaldregular";
$oswald-bold: "oswaldbold";

$black: #17171f;
$white: #fff;
$primary: #25d366;
$secondary: #075e54;
$third: #ece5dd;

$xsm: 350px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;
  
@mixin btn-circle{
    font-size: 10vw;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    transform-origin: center center;
    aspect-ratio: auto 1 / 1;
    width: 100%;
    font-size: 1.5rem;
    transition: all .3s;
    @media (min-width: $sm) {
        font-size: 2rem;
    }
    @media (min-width: $md) {
        font-size: 2.5rem;
    }

}