$roboto: "robotoregular";
$roboto-bold: "robotobold";
$oswald: "oswaldregular";
$oswald-bold: "oswaldbold";

$black: #17171f;
$white: #fff;
$primary: #25d366;
$secondary: #075e54;
$third: #ece5dd;

$xsm: 350px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;

$headerHeight: 70px;
$phoneHeight: 70px;