$roboto: "robotoregular";
$roboto-bold: "robotobold";
$oswald: "oswaldregular";
$oswald-bold: "oswaldbold";

$primary: #25d366;
$secondary: #075e54;
$third: #ece5dd;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;
  
@mixin btn-circle{
    font-size: 2.5rem;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    transform-origin: center center;
}