@import 'vars';

.buttonChat{
    background-color: $third;
    color: darken($color: $third, $amount: 20);
    font-size: 2.5rem;
    margin: 1rem auto;
    @include btn-circle;
    &:not(.active){
        cursor: not-allowed;
    }
    &.active{
        background-color: $primary;
        color: white;  
    }
    &.active:hover{
        transform: scale(.9);
    }
    &.active:active{
        transform: scale(1.2);
    }
}