@import 'scss-reset/_reset.scss';
@import 'fonts';
@import 'vars';



body{
    background-color: $white;
    color: $black;
    font-family: $roboto;
    font-size: 1.2rem;
}

a{
    color: $secondary;
    text-decoration: none;
}
.text-secondary{
    color: $secondary;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    width: 100%;
    @media (min-width: $sm) {
        max-width: 400px;
    }
}

#home-page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 60px;
    height: 100vh;
    gap: 0.5rem;
}