@import 'vars';

.HeaderApp{
    margin: 0 0 1vh;
    padding: 1vh;
    border-bottom: 1px solid lightgray;
    font-family: $oswald;
    h1{
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.1;
        font-size: 1rem;
        @media (min-width: $md) {
            font-size: 1.6rem;
        }
        span{
            color: $secondary;
        }
    }
    .slogan{
        text-transform: uppercase;
        font-size: .7rem;
        opacity: .7;
        @media (min-width: $md) {
        font-size: 1.25rem;
        }

    }
}