@import 'vars';

.InfoApp{
    border-bottom: 1px solid lightgray;
    font-family: "oswaldregular";
    bottom: 0;
    background: white;
    font-family: $oswald;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;        
        height: 60px;
    }
    h1{
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.1;
        font-size: 1rem;
        @media (min-width: $xsm) {
            font-size: 1.6rem;
        }
        span{
            color: $secondary;
        }
    }
    .slogan{
        text-transform: uppercase;
        font-size: .8rem;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .info{
        text-align: right;
        line-height: 1.1;
        font-size: .8rem;
    }

}