@import 'vars';

.InfoApp{
    border-bottom: 1px solid lightgray;
    bottom: 0;
    background: white;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;        
        height: $headerHeight;
    }
    h1{
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1;
        font-size: 32px;
        transition: all .5s;
        @media (min-width: $md) {
            font-size: 42px;
        }
        span{
            color: $secondary;
        }
    }
    .slogan{
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .info{
        text-align: right;
        line-height: 1.1;
        font-size: .8rem;
    }

}