@import 'vars';

.HeaderApp{
    padding: 0.5rem 0;
    border-top: 1px solid lightgray;
    font-family: "oswaldregular";
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    font-family: $oswald;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;        
        font-size: .7rem;
        @media (min-width: $md) {
        font-size: 1.25rem;
        }
    }
    h1{
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.1;
        font-size: 1rem;
        @media (min-width: $sm) {
            font-size: 1.6rem;
        }
        span{
            color: $secondary;
        }
    }
    .slogan{
        text-transform: uppercase;
    }
    .info{
        text-align: right;
        line-height: 1.1;
    }

}