@import 'vars';

.react-tel-input .form-control{
    font-family: $bebas;
    width: 100%;
    font-size: 30px;
    border: 0 none;
    height: $phoneHeight;
    line-height: $phoneHeight;
    font-weight: normal;
    text-align: left;
    background-color: $white;
    letter-spacing: -.05rem;
    @media (min-width: $xsm) {
        font-size: 36px;
    }
    
    &::placeholder{
        color: #ccc;
    }
}

#home-page.co .react-tel-input .form-control{
    font-size: 36px;
    @media (min-width: $xsm) {
       font-size: 50px;
    }
}


.react-tel-input .flag-dropdown {
    background-color: transparent;
    border: 0 none;
}