@import 'vars';

.share-icon{
    text-align: center;
    color: $secondary;
    align-self: center;
    cursor: default;
    transition: all .2s ease;
    &:hover{
        color: $black;
    }
    svg{
        margin-right: .5rem;
    }
}